{% extends "base.html" %}

{% block title %} yay {% endblock %}

{% block content %}

<div class="container">
    <a class="color red" data-color="FF0000">red</a>
    <a class="color green" data-color="00FF00">green</a>
    <a class="color blue" data-color="0000FF">blue</a>
    <a class="color cyan" data-color="00FFFF">cyan</a>
    <a class="color yellow" data-color="FFFF00">yellow</a>
    <a class="color orange" data-color="FF8000">orange</a>
    <a class="color purple" data-color="FF00FF">purple</a>
    <a class="color white" data-color="FFFFFF">white</a>
    <a class="color black" data-color="000000">off</a>
</div>
{% endblock %}
